a {
    text-decoration: none;
}

.link-underline {
    text-decoration: underline;
}

button {
    cursor: pointer;
}

select {
    background-color: #f9f9f9;
}

@media (max-width: 600px) {
    h1 {
        font-size: 36px!important;
    }
    h2 {
        font-size: 30px!important;
    }
    h3 {
        font-size: 24px!important;
    }
    #navbar-img {
        margin-left: 0em!important;
    }

}

@media (min-width: 600px) {}

@media (max-width:992px) {}

body, html {
    height: 100%;
}

label {
    line-height: 3;
}

.bar {
    line-height: 1;
}

.red-background {
    background: #640507 !important;
}

.red-text {
    color: #640507 !important;
}

.bg-light-grey {
    background-color: #f9f9f9;
}

.bg-white {
    background-color: white;
}

.margin-top-15 {
    margin-top: 15px;
}

.bottom-accent {
    border-bottom-style: solid;
    border-bottom-color: #640507;
}

.top-accent {
    border-top-style: solid;
    border-top-color: #640507;
}

.line-height-inherit {
    line-height: inherit;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.sidebar-button {
    text-align: left !important;
}

textarea {
    border: 1px solid #888;
    background-color: transparent;
}

.w3-hover-opacity {
    cursor: pointer;
}

.header-text {
    font-weight: 100;
}

.common-line-height-bar {
    line-height: 3.5;
}

.red-button,.red-button-small, .red-button-grouped, .grey-button-small {
    background-color: #640507;
    color: white;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

.red-button-small, .grey-button-small {
    padding: 2px 12px;
}

.grey-button-small {
    background-color: #e6e6e6 !important;
    color: #666 !important;
}

.red-button-grouped {
    padding: 2px 12px;
    margin-left: 0;
    margin-right: 0;
    border-left: #540e0e solid 1px;
}
.red-button-left {
    border-left: none !important;
}

.red-button:hover,.red-button-small:hover, .red-button-grouped:hover {
    background-color: #f9f9f9;
    color: #640507!important;
}

.grey-button-small:hover {
    background-color: white !important;
}

.hover-bg-grey:hover {
    background-color: #F9F9F9;
    color: #000 !important;
}

.remove-padding {
    padding: 0 !important;
}

.remove-margin {
    margin: 0 !important;
}

.text-grey {
    color: #666;
}

.width-100 {
    width: 100%;
}

.width-6em {
    min-width: 6em !important;
}

.max-height-15em {
    max-height: 15em;
}

.scrollable {
    overflow-y: scroll;
}

.fixed-bottom {
    position: fixed;
    bottom: 0;
}

.sentMessage {
    max-width: 50%;
    padding: 5px;
    float: right;
    background-color: #640507;
    color: white;
}

.receivedMessage {
    max-width: 50%;
    padding: 5px;
    float: left;
    background-color: #f9f9f9;
}

.message {
    min-height: 40px;
}

#profilePicture {
    max-width: 100%;
}

#bio {
    height: 4em;
}

.bg-white {
    background-color: white;
}
