<div class="w3-center w3-container">
    <div class="">
        <a href="#" class="w3-button w3-left"><i class="fas fa-arrow-left"></i></a>
        <a href="#" class="red-button w3-right">Send melding</a>
    </div>
    <article class="">
        <p id="description"></p>
    </article>
    <div class="w3-row-padding w3-section">
        <div class="w3-third">
            video preview
        </div>
        <div class="w3-third">
            video preview
        </div>
        <div class="w3-third">
            video preview
        </div>
    </div>
    <div class="w3-section">
        Registrerte ansatte:
        <div class="w3-responsive">
            <table class="w3-table-all" id="employeeTable">
                <tr id="employeeTemplate">
                    <td>{{name}}</td>
                    <td>{{position}}</td>
                    <td>{{education}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
