<div class="w3-section" id="eventControlSection">
    <article class="">
        <h2>Eventer</h2>
        <p>Legg til, endre og slett eventer fra kalenderen.</p>
    </article>
</div>
<div class="w3-section" id="groupControlSection">
    <article class="">
        <h2>Grupper</h2>
        <div class="">
            <ul class="w3-ul" id="groupList">

            </ul>
        </div>
        <button type="button" name="button" class="red-button w3-card">Opprett gruppe</button>
    </article>
</div>
<div class="w3-section" id="conversationControlSection">
    <article class="">
        <h2>Samtaler</h2>
        <div class="" id="groups">
            <ul id="conversationList" class="w3-ul">

            </ul>
            <button type="button" name="button" class="red-button w3-card">Start ny samtale</button>
        </div>
    </article>
</div>

<div id="groupListTemplate" class="w3-hide">
    <li class="w3-grey hover-bg-grey w3-row">
        <button type="button" name="group" style="background:inherit;border:none;text-align:left;width:100%;" groupId="{{group_id}}" class="groupItem">
            <h5>{{name}}</h5>
            <p class="text-grey">{{description}}</p>
        </button>
    </li>
</div>
