<div class="w3-section" id="eventControlSection">
    <article class="">
        <h2>Eventer</h2>
        <p>Legg til, endre og slett eventer fra kalenderen.</p>
    </article>
</div>
<div class="w3-section" id="groupControlSection">
    <article class="">
        <h2>Grupper</h2>
        <div class="" id="groups">
            <ul class="w3-ul" id="groupList">

            </ul>
        </div>
        <button type="button" name="button" class="black-button w3-card" id="createNewGroupButton">Opprett gruppe</button>
    </article>
</div>
<div class="w3-section" id="conversationControlSection">
    <article class="">
        <h2>Samtaler</h2>
        <div class="" id="conversations">
            <ul id="conversationList" class="w3-ul">

            </ul>
            <button type="button" name="button" class="black-button w3-card" id="startNewConversationButton">Start ny samtale</button>
        </div>
    </article>
</div>

<div class="w3-modal margin-top-70" id="groupModal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span onclick="document.getElementById('groupModal').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <h4>Gruppeinstillinger</h4>
        <input type="text" name="" value="" id="groupNameChange" class="">
        <textarea name="name" class="width-100" id="groupDescriptionChange"></textarea>
        <h5>Gruppemedlemmer</h5>
        <ul id="groupMemberList" class="w3-ul scrollable max-height-15em">

        </ul>
        <label for="addMemberInput">
            Legg til nye medlemmer:
            <input type="text" name="" value="" id="addMemberInput" class="">
        </label>
        <ul class="w3-ul" id="memberSearchResults">

        </ul>
      </div>
    </div>
</div>

<div class="w3-modal margin-top-70" id="createGroupModal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span onclick="document.getElementById('createGroupModal').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <h4>Opprett ny gruppe</h4>
        <label for="newGroupName">Gruppenavn</label>
        <input type="text" name="" value="" id="newGroupName" class="">
        <label for="newGroupDescription">Gruppebeskrivelse</label>
        <textarea name="name" class="width-100" id="newGroupDescription"></textarea>
        <button type="button" name="button" id="createGroupButton" class="black-button w3-card">Opprett</button>
      </div>
    </div>
</div>

<div class="w3-modal margin-top-70" id="conversationModal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span onclick="document.getElementById('conversationModal').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <h4>Samtaleinstillinger</h4>
        <input type="text" name="" value="" id="conversationNameChange" class="">
        <h5>Samtaledeltakere</h5>
        <ul id="conversationParticipantList" class="w3-ul scrollable max-height-15em">

        </ul>
        <label for="addParticipantInput">
            Legg til nye medlemmer:
            <input type="text" name="" value="" id="addParticipantInput" class="">
        </label>
        <ul class="w3-ul" id="participantSearchResults">

        </ul>
      </div>
    </div>
</div>

<div class="w3-modal margin-top-70" id="createConversationModal">
    <div class="w3-modal-content">
      <div class="w3-container">
        <span onclick="document.getElementById('createConversationModal').style.display='none'" class="w3-button w3-display-topright">&times;</span>
        <h4>Opprett ny samtale</h4>
        <label for="newConversationName">
            Samtalenavn
            <input type="text" name="" value="" id="newConversationName" class="">
        </label>
        <button type="button" name="button" id="createConversationButton" class="black-button w3-card">Opprett</button>
      </div>
    </div>
</div>

<div id="groupListTemplate" class="w3-hide">
    <li class="w3-grey hover-bg-grey w3-row">
        <button type="button" name="group" style="background:inherit;border:none;text-align:left;width:100%;" groupId="{{group_id}}" class="groupItem">
            <h5>{{name}}</h5>
            <p class="text-grey">{{description}}</p>
        </button>
    </li>
</div>

<div id="eventListTemplate" class="w3-hide">
    <li class="w3-grey hover-bg-grey w3-row">
        <button type="button" name="event" style="background:inherit;border:none;text-align:left;width:100%;" groupId="{{event_id}}" class="eventItem">
            <h5>{{name}}</h5>
            <p class="text-grey">{{description}}</p>
            <p>{{dateTime}}</p>
        </button>
    </li>
</div>

<div id="conversationListTemplate" class="w3-hide">
    <li class="w3-grey hover-bg-grey w3-row">
        <button type="button" name="conversation" style="background:inherit;border:none;text-align:left;width:100%;" conversationid="{{conversation_id}}" class="conversationItem">
            <h5>{{name}}</h5>
        </button>
    </li>
</div>

<div id="groupMembersTemplate" class="w3-hide">
    <li>
        <a href="#/profil/{{user_id}}"><img src="{{profilePicture}}" alt="" class="w3-img w3-circle w3-margin-right" width="60"><strong>{{name}}</strong></a>
        <div class="w3-right">
            <button class="black-button-small dropdownToggle width-6em w3-card">…</button>
            <div class="w3-dropdown-content w3-bar-block w3-card width-6em">
                <ul class="w3-ul">
                    <li class="remove-padding remove-margin">
                        <button type="button" name="button" class="grey-button-small width-100 adminMember" userid="{{user_id}}">Admin</button>
                    </li>
                    <li class="remove-padding remove-margin ">
                        <div class="grey-button-small width-100 removeMember" userid="{{user_id}}">
                            Fjern
                        </div>
                    </li>
                    <li class="remove-padding remove-margin">
                        <button type="button" name="button" class="grey-button-small width-100 messageMember" userid="{{user_id}}">Melding</button>
                    </li>
                </ul>
            </div>
        </div>
    </li>
</div>

<div class="w3-hide" id="memberSearchResultsTemplate">
    <li>
        {{user_id}} {{name}} {{email}} <button type="button" name="button" class="black-button-small w3-right w3-card addMember" userid="{{user_id}}">Legg til</button> <br>
    </li>
</div>

<div class="w3-hide" id="participantSearchResultsTemplate">
    <li>
        {{user_id}} {{name}} {{email}} <button type="button" name="button" class="black-button-small w3-right w3-card addParticipant" userid="{{user_id}}">Legg til</button> <br>
    </li>
</div>
