<ul class="w3-ul">
    <li id="template">
        <div class="groupPost">
            <div class="postContent">
                <div class="">
                    <a href="#/profil/{{postAuthorId}}"><img src="" alt="" class="postAuthorPicture"></a>
                </div>
                <div class="">
                    <strong> <a href="#/profil/{{postAuthorId}}">{{postAuthorName}}</a> </strong>
                    <p>{{postContent}}</p>
                </div>
            </div>
            <div class="postComments">
                <div class="comment">
                    <div class="">
                        <a href="#/profil/{{commentAuthorId}}"><img src="" alt="" class="commentAuthorPicture"></a>
                    </div>
                    <div class="commentContent">
                        <p>{{commentContent}}</p>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
