<div class="w3-content">
    <div class="w3-container">
        <div class="w3-hide padding-top-32" id="newPostContainer">
            <textarea name="name" rows="4" cols="80" id="newPostInput" style="width:100%;" placeholder="Skriv et nytt innlegg..."></textarea>
            <div class="padding-bottom-2em padding-top-05em">
                <button type="button" name="button" class="black-button w3-card w3-right" id="createNewPost">Post</button>
            </div>
        </div>
        <hr>
        <h3 class="">Siste innlegg</h3>
    </div>
    <ul id="groupPosts" class="w3-ul">
    </ul>
</div>


<template id="postTemplate">
    <div id="post{{post_id}}" class="w3-panel">
        <div class="postContent">
            <div class="">
                <div class="w3-left">
                    <a href="#/profil/{{poster}}"><img src="{{profilePicture}}" alt="" class="postAuthorPicture w3-circle" width="60"></a>
                </div>
                <div class="w3-left w3-padding">
                    <strong> <a href="#/profil/{{poster}}">{{name}}</a></strong><br>
                    <span>{{timestamp}}</span>
                </div>
            </div>
            <div class="w3-container">
                <p>{{content}}</p>
            </div>
            <hr>
        </div>
    </div>
</template>

<template id="commentTemplate">
    <li class="postComment">
        <div id="comment{{postComment_id}}" class="w3-row">
            <div class="w3-left w3-margin-right">
                <a href="#/profil/{{user_id}}"><img src="{{profilePicture}}" alt="" class="commentAuthorPicture w3-circle" width="50"></a>
            </div>
            <div class="">
                <a href="#/profil/{{user_id}}" class="margin-right-04em"><strong>{{name}}</strong></a>
                <div class="commentContent w3-show-inline-block">
                    <p class="">{{content}}</p>
                </div>
            </div>
        </div>
    </li>
</template>

<template id="commentInputTemplate">
    <li class="postComment">
        <div>
            <div class="">
                <a href="#/profil/{{user_id}}"><img src="" alt="" class="commentAuthorPicture"></a>
            </div>
            <div class="commentContent">
                <form action="javascript:void(0);" method="post" class="commentInputForm">
                    <input type="text" name="" value="" class="w3-input" placeholder="Skriv en kommentar...">
                </form>
            </div>
        </div>
    </li>
</template>
