<div class="w3-content">
    <div class="w3-row">
        <div class="w3-col m3">
            <img src="" alt="Illustrasjon">
        </div>
        <div class="w3-col m9">
            <article class="">
                <p>InMarket arrangerer bedriftsbesøk for elever og studenter, og hjelper ungdom med å finne sin vei i livet.</p>
                <p id="0" class="w3-hide">Som elev kan vi ta deg med på besøk til bedrifter og universiteter og hjelpe deg finne det rette studiet og bransje for deg.</p>
                <p id="1" class="w3-hide">Som student kan vi knytte deg i regelmessig kontakt med en arbeidsplass og gi verdifull praksis og arbeidserfaring</p>
                <p id="2" class="w3-hide">Som bedrift kan vi promotere dere mot ungdom og sette dere i kontakt med talentfulle studenter i deres bransje.</p>
                <p>Send en melding nå, så svarer vi innen 24 timer.</p>
            </article>
        </div>
    </div>
    <form class="" action="php/sendMessage.php" method="post" id="contactForm">
        <textarea name="name" rows="3" cols="20" placeholder="Skriv melding her…" autofocus class="width-100"></textarea>
        <input type="submit" name="" value="Send" class="black-button w3-card">
    </form>
</div>
