<meta charset="utf-8">
<div class="w3-container w3-content">
    <form id="registration" action="php/register.php" method="post" class="w3-panel">
        <div class="registrationPage">
            <button class="black-button w3-card w3-mobile clientType w3-input hover-bg-grey" value="student">Elev/student</button>
            <button class="black-button w3-card w3-mobile clientType w3-input hover-bg-grey w3-section" value="jobseeker">Jobbsøker</button>
            <button class="black-button w3-card w3-mobile clientType w3-input hover-bg-grey" value="employee">Bedriftsansatt</button>

            <p>Allerede registrert? <a href="#/innlogging" class="text-underline">Logg inn her.</a> </p>
        </div>

        <div class="registrationPage w3-hide">
            <input class="w3-input" type="text" name="name" value="" placeholder="navn" required pattern="^([ \u00c0-\u01ffa-zA-Z'\-])+$">
            <input class="w3-input" type="email" name="email" value="" placeholder="epost" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
            <input class="w3-input" type="text" name="phone" value="" placeholder="telefon" required pattern="[0-9]{8}">
            <input class="w3-input" type="password" name="password" value="" placeholder="passord" required pattern=".{8,}">

            <button class="black-button w3-card w3-mobile w3-input hover-bg-grey" type="button" name="button" id="page2btn">Neste</button>
        </div>

        <div class="registrationPage w3-hide">
            <label class="">
                Hjemkommune:
                <select class=" w3-input" name="" placeholder="hjemkommune"  id="kommuneList">

                </select>
            </label>

            <div class="w3-hide" id="studentPage">
                <input class="w3-input" type="text" name="school" value="" placeholder="Skole" pattern="^([ \u00c0-\u01ffa-zA-Z0-9'\-])+$">
                <input class="w3-input" type="text" name="program" value="" placeholder="Retning" pattern="^([ \u00c0-\u01ffa-zA-Z'\-])+$">
                <input class="w3-input" type="text" name="schoolYear" value="" placeholder="Årstrinn" pattern="^([ \u00c0-\u01ffa-zA-Z0-9'\-])+$">
            </div>

            <div class="w3-hide" id="jobseekerPage">
                <input class="w3-input" type="text" name="schoolStudent" value="" placeholder="Universitet/høyskole" pattern="^([ \u00c0-\u01ffa-zA-Z0-9'\-])+$">
                <input class="w3-input" type="text" name="programStudent" value="" placeholder="linje" pattern="^([ \u00c0-\u01ffa-zA-Z'\-])+$">
                <input class="w3-input" type="text" name="schoolYearStudent" value="" placeholder="årstrinn" pattern="^([ \u00c0-\u01ffa-zA-Z0-9'\-])+$">
            </div>

            <div class="w3-hide" id="employeePage">
                <input class="w3-input" type="text" name="companyName" value="" placeholder="Bedriftsnavn" pattern="^([ \u00c0-\u01ffa-zA-Z0-9'\-])+$">
                <input type="text" name="companyNo" value="" placeholder="Organisasjonsnummer">
                <input class="w3-input" type="text" name="position" value="" placeholder="Stilling" pattern="^([ \u00c0-\u01ffa-zA-Z'\-])+$">
            </div>

            <input type="submit" name="" value="Ferdig" class="black-button w3-card w3-mobile clientType w3-input hover-bg-grey" id="registerButton">
        </div>
    </form>

    <p id="responseText"></p>
</div>

<template id="kommuneTemplate">
    <option value="{{kommuneNr}}">{{kommuneNavn}}</option>
</template>
