<script type="text/html" id="hjem">
    <h3>Nyeste videoer</h3>
    <ul id="template" class="w3-ul w3-hide">
        <li>
            <img src="" alt="Video preview" width="100%">
            <div class="">
                <img src="" alt="Logo">
                {{title}} / {{name}}
            </div>
        </li>
    </ul>
</script>
<script id="error" type="text/html">
    <article class="">
        <h3>404 - siden finnes ikke!</h3>
    </article>
</script>
<script id="login" type="text/html">
    <meta charset="utf-8">
    <form class="" action="" method="post" id="loginForm">
    <input type="email" name="email" value="" placeholder="E-postadresse" class="w3-mobile w3-panel w3-input">
    <input type="password" name="password" value="" placeholder="Passord" class="w3-mobile w3-panel w3-input">
    <input type="submit" name="" value="Logg inn" class="w3-mobile w3-panel w3-input red-button">
    </form>
    <p id="responseText"></p>
</script>
<script id="contact" type="text/html">
    <div class="w3-row">
        <div class="w3-col m3">
            <img src="" alt="Illustrasjon">
        </div>
        <div class="w3-col m9">
            <article class="">
                <p>InMarket arrangerer bedriftsbesøk for elever og studenter, og hjelper ungdom med å finne sin vei i livet.</p>
                <p id="0" class="w3-hide">Som elev kan vi ta deg med på besøk til bedrifter og universiteter og hjelpe deg finne det rette studiet og bransje for deg.</p>
                <p id="1" class="w3-hide">Som student kan vi knytte deg i regelmessig kontakt med en arbeidsplass og gi verdifull praksis og arbeidserfaring</p>
                <p id="2" class="w3-hide">Som bedrift kan vi promotere dere mot ungdom og sette dere i kontakt med talentfulle studenter i deres bransje.</p>
                <p>Send en melding nå, så svarer vi innen 24 timer.</p>
            </article>
        </div>
    </div>
    <form class="" action="php/sendMessage.php" method="post" id="contactForm">
        <textarea name="name" rows="3" cols="20" placeholder="Skriv melding her…" autofocus></textarea>
        <input type="submit" name="" value="Send" class="red-button">
    </form>
</script>
<script id="register" type="text/html">
    <meta charset="utf-8">
    <form id="registration" action="php/register.php" method="post" class="w3-panel">
        <div class="firstPage">
            <button class="red-button w3-mobile clientType w3-input hover-bg-grey" value="pupil">Elev</button>
            <button class="red-button w3-mobile w3-section clientType w3-input hover-bg-grey" value="student">Student</button>
            <!--<button class="red-button w3-mobile clientType w3-input hover-bg-grey" value="employee">Bedriftsansatt</button>-->

            <p>Allerede registrert? <a href="#/innlogging" class="link-underline">Logg inn her.</a> </p>
        </div>

        <div class="secondPage w3-hide">
            <input class="w3-input" type="text" name="name" value="" placeholder="navn" required pattern="^([ \u00c0-\u01ffa-zA-Z'\-])+$">
            <input class="w3-input" type="email" name="email" value="" placeholder="epost" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
            <input class="w3-input" type="text" name="phone" value="" placeholder="telefon" required pattern="[0-9]{8}">
            <input class="w3-input" type="password" name="password" value="" placeholder="passord" required pattern="^([ \u00c0-\u01ffa-zA-Z'\-])+$">

            <button class="red-button w3-mobile w3-input hover-bg-grey" type="button" name="button" id="page2btn">Neste</button>
        </div>

        <div class="thirdPage w3-hide">
            <label class="">
                Hjemkommune:
                <select class=" w3-input" name="" placeholder="hjemkommune"  id="kommuneTemplate">
                    <option value="{{kommuneNr}}">{{kommuneNavn}}</option>
                </select>
            </label>

            <div class="pupilPage w3-hide">
                <input class="w3-input" type="text" name="school" value="" placeholder="skole" pattern="^([ \u00c0-\u01ffa-zA-Z'\-])+$">
                <input class="w3-input" type="text" name="program" value="" placeholder="retning" pattern="^([ \u00c0-\u01ffa-zA-Z'\-])+$">
                <input class="w3-input" type="text" name="schoolYear" value="" placeholder="årstrinn" pattern="^([ \u00c0-\u01ffa-zA-Z0-9'\-])+$">
            </div>

            <div class="studentPage w3-hide">
                <input class="w3-input" type="text" name="school" value="" placeholder="Universitet/høyskole" pattern="^([ \u00c0-\u01ffa-zA-Z'\-])+$">
                <input class="w3-input" type="text" name="program" value="" placeholder="linje" pattern="^([ \u00c0-\u01ffa-zA-Z'\-])+$">
                <input class="w3-input" type="text" name="schoolYear" value="" placeholder="årstrinn" pattern="^([ \u00c0-\u01ffa-zA-Z0-9'\-])+$">
            </div>

            <div class="employeePage w3-hide">
                <input class="w3-input" type="text" name="companyName" value="" placeholder="Bedriftsnavn" pattern="^([ \u00c0-\u01ffa-zA-Z'\-])+$">
                <input class="w3-input" type="text" name="position" value="" placeholder="Stilling" pattern="^([ \u00c0-\u01ffa-zA-Z'\-])+$">
                <input class="w3-input" type="text" name="education" value="" placeholder="utdanning" pattern="^([ \u00c0-\u01ffa-zA-Z'\-])+$">
            </div>

            <input type="submit" name="" value="Ferdig" class="red-button w3-mobile clientType w3-input hover-bg-grey">
        </div>
    </form>

    <p id="responseText"></p>
</script>
<script id="msgTemplate" type="text/html">
    <div class="message w3-container" id="{{id}}">
        <div class="{{styleClass}} w3-border w3-round">
            {{content}}
        </div>
    </div>
</script>
<script id="messages" type="text/html">
    <div id="inbox" class="w3-hide">
        <ul class="w3-ul" id="template">
            <li class="w3-grey hover-bg-grey">
                <a href="#/samtale/{{conversation_id}}" class="">
                    <div class="">
                        <h5>{{name}}</h5>
                        <p class="text-grey">{{content}}</p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</script>
